.parent-container {
    position: relative;
}

.list_category_description.editor_txt.ck-content {
    position: absolute;
    top: 100px; /* 或其他值 */
}

.themes_plist_right {
    position: absolute;
    top: 0;
}